body {
    margin: 0;
    padding: 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}

/*

Style our app according to the provided design!

green color -> #5f9341

*/


input {
    width: 30%;
    padding: 10px 10px;
    border: 2px solid #5f9341;
    display: block;
    margin-bottom: 10px;
    box-sizing: border-box;
    outline: none;
    color: rgba(0, 0, 8, .9);
    font-weight: bold;
}

button {
    background-color: #5f9341;
    padding: 10px 20px;
    outline: none;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}