@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Raleway:wght@200&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
}

html{
    font-size: 62.5%;
    color-scheme: dark light;
    scroll-behavior: smooth;
}

section{
    margin-bottom: 10rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: linear-gradient(var(--primary-color), var(--secondary-color));
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(var(--secondary-color), var(--primary-color));
}

:root{
    --primary-color: #D3393B;
    --secondary-color: #1B1B1B;
    --color-white: #fff;
    --color-black: #000;
    --color-gray-light-text: #777;
}


/* Utility Classes */
/* Flex Classes */
.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-space-between{
    justify-content: space-between;
}

.direction-column{
    flex-direction: column;
}

/* Margin Top Classes */
.mt-l{
    margin-top: 5rem;
}

.mt-m{
    margin-top: 3rem;
}

.mt-s{
    margin-top: 2rem;
}

.mt-extra-s{
    margin-top: 1rem;
}

/* Margin Bottom Classes */
.mb-l{
    margin-bottom: 5rem;
}

.mb-m{
    margin-bottom: 3rem;
}

.mb-s{
    margin-bottom: 2rem;
}

.mb-extra-s{
    margin-bottom: 1rem;
}

/* NavBar */
.navbar{
    background-color: var(--color-white);
    padding: 2rem 10rem;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.logo{
    width: 25rem;
}

.logo img{
    width: 100%;
}

.nav-links li{
    display: inline-block;
    margin-right: 2rem;
}

.nav-links li .home{
    color: var(--primary-color);
}

.nav-links li a{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-black);
    transition: .3s all;
    color: var(--secondary-color);
}

.nav-links li a:hover{
    color: var(--primary-color);
}

.btn{
    padding: 1rem 3rem;
    color: var(--color-white);
    background-color: var(--primary-color);
    border-radius: .5rem;
    border: none;
    outline: none;
    transition: .5s all;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--color-black);
}


/* Banner */
.banner{
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),url(../assets/hero-bg.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner-content{
    position: absolute;
    top: 35%;
    left: 10%;
    width: 50%;
    transition: 2s;
}

.banner-content .banner-text{
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 3rem;
    color: var(--color-white);
}

.banner-button{
    padding: 1.5rem 4rem;
    border: 2px solid var(--primary-color);
    font-size: 1.7rem;
    letter-spacing: .1rem;
}

.banner-button:hover{
    background-color: transparent;
    border: 2px solid var(--color-white);
}

/* Main-section */
/* logos Swiper */
.swiper {
    margin-top: 7rem;
    margin-bottom: 4rem;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    place-items: center;
}

.swiper-slide{
    width: 50%;
    margin-right: 5rem;
}

.swiper-slide img{
    object-fit: cover;
    width: 100%;
    filter: grayscale(100%);
    transition: .1s all linear;
}

.swiper-slide img:hover{
    filter: grayscale(0);
}

/* Services Section */
.services{
    padding: 5rem;
    color: var(--color-white);
    position: relative;
    margin: 13rem 0 10rem 0;
}

.services::after{
    content: "";
    background-image: linear-gradient(rgba(27, 27, 27), rgba(27, 27, 27));
    position: absolute;
    inset: 0;
    transform: skewY(-3deg);
    z-index: -1;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: 0 auto;
    place-items: center;
}

.wrapper-text-container{
    width: 80%;
    margin-bottom: 5rem;
}

.wrapper-text-container h1{
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.wrapper-text-par{
    font-size: 1.7rem;
    line-height: 1.4;
}

.wrapper-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
}

.wrapper-card-icon .icon{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.wrapper-card-title{
    margin-bottom: 1rem;
    font-size: 2rem;
}

.paragrah-text{
    font-size: 1.5rem;
    line-height: 1.4;
    color: var(--color-gray-light-text);
}

.numbers-container-row{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin-bottom: 5rem;
}

.numbers-container-card{
    background-color: var(--color-white);
    padding: 3rem;
    padding-top: 4rem;
    text-align: center;
    position: relative;
    border-radius: .5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    margin-bottom: 3rem;
    color: #000;
}

.number-title{
    font-size: 4rem;
    margin-bottom: 1rem;
}

.numbers-icon i{
    position: absolute;
    top: -2rem;
    font-size: 2.5rem;
    background-color: var(--color-white);
    padding: 1.5rem;
    border-radius: 50%;
    left: 42%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    color: var(--primary-color);
}

/* About Section */
.about-wrapper-content{
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 6rem;
}

.about-title-container{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 6rem;
}

.section-main-headings{
    font-size: 3.5rem;
    margin-bottom: 4rem;
    position: relative;
    display: inline-block;
}

.section-main-headings::after{
    content: "";
    background-color: var(--primary-color);
    height: .3rem;
    width: 40%;
    bottom: -2rem;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    margin: 0 auto;
    display: block;
}

.about-wrapper-content-card{
    background-color: rgba(34, 34, 34);
    width: 100%!important;
    display: flex;
    padding: 3rem;
    color: var(--color-white);
    border-radius: 1rem;
}

.about-wrapper-content-card .icon{
    font-size: 3.5rem;
}

.about-wrapper-content-card a h1{
    color: var(--color-white);
    /* display: inline-block; */
}

.about-wrapper-content-card a h1:hover{
    text-decoration: underline;
}

.about-wrapper-content-card .wrapper-card-par{
    color: var(--color-white);
}

/* Portfolio */
.portifolio-title-heading{
    opacity: .8;
    color: var(--secondary-color);
}

.portfolio-container-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 0 auto;
    gap: 3rem;
}

.portfolio-card{
    width: 100%;
    overflow: hidden;
    transition: .2s linear;
    position: relative;
}



.portfolio-card img{
    width: 100%;
    transition: .3s linear;
}

.portfolio-card:hover img{
    transform: scale(1.2);
}

.portfolio-card-top-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: .3s;
}

.portfolio-card:hover .portfolio-card-top-layer{
    opacity: 1;
    z-index: 3;
}

.portfolio-card-top-layer-icons{
    position: absolute;
    bottom: 3rem;
    left: 2rem;
}

.portfolio-card-top-layer-icons i{
    font-size: 2rem;
    margin-right: 1.5rem;
    color: #ccc;
    cursor: pointer;
    transition: .3s;
}

.portfolio-card-top-layer-icons i:hover{
    color: var(--color-white);
}

/* Vision */
.vision-title-container {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.vision-title-paragraph{
    width: 85%;
    margin: 0 auto;
}

/* Contact */
.contact-title-paragraph{
    color: var(--secondary-color);
    opacity: .7;
}

.form-containers{
    /* background-color: #D3393B; */
    height: 60vh;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 80vw;
    margin: 4rem auto;
}

.address-container{
    grid-column: 1 / 3;
}

.login-form-container{
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}

.form-box{
    background-color: var(--color-white);
    width: 100%;
}

.form-box-icon{
    font-size: 3rem;
    border: 1px dotted var(--primary-color);
    border-radius: 50%;
    padding: .7rem;
    color: var(--primary-color);
}

.form-box-title{
    font-size: 2rem;
    color: rgba(0, 0, 0, .5);
}

.form-box-paragraph{
    font-size: 1.5rem;
    color: var(--color-black);
    opacity: .6;
    margin-bottom: 0.7rem;
}

.login-form{
    height: 100%;
    padding: 2.5rem;
}

.login-form-inputs input{
    width: 100%;
    padding: 1.3rem 1rem;
    border: 1px solid #ccc;
    margin-bottom: 2rem;
    border-radius: .5rem;
    background-color: transparent;
    color: var(--color-black);
}

.eld{
    margin-right: 2rem;
}

.login-form-inputs textarea{
    border-radius: .5rem;
    margin-bottom: 2rem;
    width: 100%;
    border: 0;
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 1rem;
    color: var(--color-black);
}

.login-form-btn{
    padding: 1.3rem 2.5rem;
    font-size: 1.7rem;
    display: inline-block;
    cursor: pointer;
    background-color: var(--primary-color);
    border: 0;
    outline: none;
    border-radius: .5rem;
    margin: 0 auto;
    transition: .2s linear;
}

.login-form-btn:hover{
    background-color: #da4c4e;
}



/* footer */
footer{
    min-height: 80vh;
    background-color: var(--secondary-color);
}

.sub-footer{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding-top: 7rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* display: flex; */
}

/* .footer-child-1{
    width: 100%;
    display: flex;
    flex-direction: column;
} */

/* .footer-child-2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.footer-col-1{
    margin-right: 8rem;
}

.footer-col-1-title{
    font-size: 2.5rem;
}

.footer-col-1-title .dot{
    color: var(--primary-color);
    font-size: 3rem;
}

.footer_pars{
    font-size: 1.5rem;
}

.footer-contact{
    font-size: 1.5rem;
}

.footer-contact span{
    font-size: 1.3rem;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
}

.footer-links-title{
    font-size: 1.6rem;
    position: relative;
}

.footer-links-title::after {
    content: "";
    background-color: var(--primary-color);
    height: 0.2rem;
    width: 20%;
    bottom: 0;
    left: 0;
    top: 2.5rem;
    margin-bottom: 2rem;
    position: absolute;
}

.copy_right{
    margin-top: 8rem;
    display: block;
    font-size: 1.3rem;
    margin-left: 1rem;
}

.footer-links-col li a{
    color: var(--color-white);
    font-size: 1.5rem;
    display: block;
    margin-bottom: 2rem;
    transition: .3s all;
}

.footer-links-col li a:hover{
    color: var(--color-gray-light-text);
}

.footer-map{
    margin-left: 10rem;
    width: 40rem;
    height: 30rem;
    position: relative;
}

.footer-map iframe{
    width: 100%;
    height: 100%;
}

.footer-social-icons{
    position: absolute;
    right: 0;
}

.footer-social-icons a{
    background-color: #2e2b2b;
    color: var(--color-white);
    font-size: 2rem;
    border-radius: .7rem;
    padding: .7rem;
    margin-right: .2rem;
    text-align: center;
    transition: .3s ease-out;
}

.footer-social-icons a:hover{
    background-color: var(--primary-color);
}

.menu-icon{
    font-size: 3rem;
    color: var(--secondary-color);
    display: none;
}

.close-icon{
    position: absolute;
    top: 1rem;
    right: 5rem;
    font-size: 3rem;
    display: none;
}

.show{
    display: block!important;
}


/* ------Media Queries--------- */
/* Landscape */
@media (max-width: 1200px) {
    /* NavBar */
    .navbar {
        padding: 2rem 2rem;
    }

    /* Banner */
    .banner-content .banner-text{
        font-size: 4rem;
    }

    /* Services */
    .wrapper{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    /* Contact Us */
    .form-box-paragraph {
        font-size: 1.3rem;
        text-align: center;
    }
}


/* Portrait */
@media (max-width: 900px) {
    /* NavBar */
    .nav-links{
        position: absolute;
        background-color: rgba(0, 0, 0, .9);
        top: 0;
        width: 100%;
        height: 105vh!important;
        z-index: 50;
        padding-left: 5rem;
        padding-top: 10rem;
        left: 0;
        display: none;
    }

    .nav-links::after{
        content: "";
        background-color: #fff;
        width: 88%;
        height: 80vh;
        top: 5rem;
        left: 1.5rem;
        padding: 3rem;
        display: block;
        position: absolute;
        z-index: -1;
    }

    .nav-links li{
        display: block;
        margin-bottom: 5rem;
    }

    .nav-links li a{
        font-size: 2.5rem;
    }

    .nav-button{
        display: none;
    }

    .navbar {
        padding: 2rem 10rem;
    }

    .menu-icon{
        display: block;
    }
    
    .close-icon{
        display: block;
    }


    /* Banner */
    .banner-content{
        left: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner-content .banner-text{
        text-align: center;
    }

    /* Logos Container */
    .swiper {
        grid-template-columns: repeat(2, 1fr);
    }

    .swiper-slide{
        width: 30%;
    }

    /* About Us */
    .about-wrapper-content {
        width: 100%;
    }

    /* Contact Us */
    .address-container{
        grid-column: 1 / 5;
    }
    
    .login-form-container{
        grid-column: 1 / 5;
        grid-row: 3 / 5;
    }

    .form-email-container{
        grid-column: 1 / 3;
    }

    .form-call-container{
        grid-column: 3 / 5;
    }


    /* Footer */
    
}

/* Phone */
@media (max-width: 700px) {
    /* Services */
    .wrapper{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .wrapper-content{
        grid-template-columns: repeat(1, 1fr);
    }

    .wrapper-card-icon{
        display: none;
    }

    /* Portfolio */
    .portfolio-container-cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        margin: 0 auto;
        gap: 3rem;
    }
}