@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #eeeeee;
    font-family: sans-serif;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3% auto;
}

.project-name {
    font-size: 2.5rem;
    color: rgb(221, 90, 112);
    font-family: 'Kalam', cursive;
}

.nav {
    margin: 2rem 0;
}

.btn {
    padding: .7rem 3rem;
    font-size: 1.1rem;
    font-family: 'Kalam', cursive;
    color: rgb(255, 255, 255);
    background-color: #111111;
    margin-right: 2rem;
    border: 0;
    border-radius: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btn::before {
    content: "";
    background-color: maroon;
    display: block;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -3rem;
    z-index: -1;
    transform: skewX(-50deg);
    transition: .2s;
}

.btn:hover::before {
    width: 100%;
}

.error{
    position: absolute;
}

.image-parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2rem;
    margin-bottom: 5rem;
}

.image-box{
    position: relative;
    /* background-color: orangered; */
}

.image-box img{
    width: 100%;
    object-fit: cover;
    display: block;
}

.content {
    padding: .5rem;
}

.product_description {
    color: #777;
}

.product_price {
    margin: .7rem 0;
    color: rgb(213, 75, 25, .6);
    font-weight: 900;
}

.buy_btn {
    padding: .4rem 0;
    width: 100%;
    border: none;
    background-color: rgb(140, 2, 83);
}

.buy_btn a{
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 1838px) {
    .btn {
        margin-bottom: 1rem;
    }

    .image-parent {
        grid-template-columns: repeat(5, 1fr);
    }

    .product_price {
        margin: 3rem 0;
    }
}

@media screen and (max-width: 1080px) {
    .image-parent {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 850px) {
    .nav {
        width: 100%;
    }
    .btn {
        margin-bottom: 1rem;
        width: 100%;
        display: block;
    }

    .image-parent {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .nav {
        width: 100%;
    }
    .btn {
        margin-bottom: 1rem;
        width: 100%;
        display: block;
    }

    .image-parent {
        grid-template-columns: repeat(1, 1fr);
    }
}