* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-color: #222;
    --light-color: #fff;
}

.theme {
    --dark-color: #fff;
    --light-color: #222;
}

body {
    position: relative;
    font-family: 'Franklin Gothic Medium', sans-serif;
    background-color: var(--light-color);
}

.toggle-icon {
    position: absolute;
    right: 5rem;
    top: 2rem;
    width: 2rem;
}

.toggle-icon img {
    width: 100%;
    cursor: pointer;
}

.text {
    font-size: 70px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--dark-color);
}