* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #333333;
}

.tiles {
    margin: 150px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 16px;
}

.tile {
    height: 100px;
    background-color: #111111;
    border: 5px solid #444444;
    cursor: pointer; 
}