* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    height: 100vh;
}

.container {
    height: 100vh;
    min-width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    transition: .3s ease-in-out;
}

.links {
    background-color: black;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.links a {
    display: block;
    font: 400;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-bottom: 1rem;
}

.links a:hover {
    color: burlywood;
}